body {
    font-family: 'Press Start 2P', cursive;
    background-image: url('images/BG.png'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
 
    text-align: center; 
    padding: 10px; 
}

.med-header {
    margin-bottom: 10px;
}

.sm-header {
    display: none;
}

.header img {
    max-width: 500px; 
    height: auto; 
    filter: drop-shadow(1px 1px 20px rgb(83, 167, 90));
}

/* Top ICONS */
.top-right-icons {
    position: absolute;
    top: 14px;
    right: 12px;
    display: flex;
    filter: drop-shadow(1px 1px 20px rgb(83, 167, 90));
}

.icon:hover {
    background-color: #218838;
    border-radius: 15px;
}

.icon-img {
    width: 42px;
    height: 42px;
    display: block;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 650px;
    padding: 50px;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    animation: zoomIn 0.5s ease-in-out; /* Apply zoom-in animation */
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.modal-content {
    background-color: #f1f1f1;
    padding: 20px;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 10px;
    text-align: center;
    width: 700px;
    font-family: 'Press Start 2P', cursive;

}

.setting-option {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

/* Slider Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch-input {
    display: none; /* Hide the actual checkbox */
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

/* Active state for slider */
.switch-input:checked + .switch-slider {
    background-color: #28a745;
}

.switch-input:checked + .switch-slider:before {
    transform: translateX(26px);
}

/* Back button */
.back-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    filter: drop-shadow(1px 1px 20px rgb(129, 51, 51));
}

.back-btn:hover {
    background-color: #d32f2f;
}



/* Trivha header */
.header h1 {
    font-size: 7rem;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 0px #1b5a15;
    margin-bottom: 20px;
    filter: drop-shadow(1px 1px 20px rgb(83, 167, 90));
}

/* Button Styling */
.menu .menu-btn {
    display: block;
    background-color: #2ebe57;
    color: white;
    border: none;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 550px;
    height: 70px;
    font-size: 1.3rem;            
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 0px #1e6f38;
    font-family: 'Press Start 2P', cursive;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    filter: drop-shadow(1px 1px 10px rgb(83, 167, 90));
}

.menu-btn:hover {
    background-color: #218838;
}

/* Modal MENU */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.modal-content {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 800px;
    font-family: 'Press Start 2P', cursive;
    filter: drop-shadow(1px 1px 2px rgb(255, 255, 255));
}

.close-btn, .exit-btn {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;           
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.close-btn:hover, .exit-btn:hover {
    background-color: #ff5040;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 800px;
}


/* r achievementsModal */
#achievementsModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

#achievementsModal .modal-content {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 550px;
    max-height: 450px; 
    overflow-y: auto;
    filter: drop-shadow(1px 1px 2px rgb(255, 255, 255));
}

/* Achievements list  */
#achievementsModal .achievement-list {
    text-align: left; 
}

.yvan {
    color: #249344;
  
}

#achievementsModal .achievement-category h4 {
    font-size: 1.1rem;
    margin-bottom: 20px;
    padding-left: 60px;
    color: #ff6f61;
    padding-top: 30px ;
}


#achievementsModal .achievement-item {
    margin: 5px 0;
    padding: 5px;
    background-color: #e8e8e8;
    border-radius: 5px;
}


#achievementsModal .close-btn {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}


#achievementsModal .close-btn:hover {
    background-color: #ff5040;
}


#achievementsModal .modal-content::-webkit-scrollbar {
    width: 10px;
}

#achievementsModal .modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#achievementsModal .modal-content::-webkit-scrollbar-thumb {
    background-color: magenta;
    border-radius: 10px; 
    border: 2px solid #f1f1f1;
}


#achievementsModal .modal-content {
    scrollbar-width: thin;
    scrollbar-color: magenta #f1f1f1;
}


/*zoom-in effect */
@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* Add some variation to each bubble */
.bubble:nth-child(odd) {
    animation-duration: 7s;
    animation-delay: -1s;
}

.bubble:nth-child(even) {
    animation-duration: 8s;
    animation-delay: -2s;
}

/* Bubble size variation */
.bubble {
    width: 40px;
    height: 40px;
    opacity: 0.6;

}

.bubble.large {
    width: 70px;
    height: 70px;
    opacity: 0.8;
}

/* Container for the bubbles */
.bubbles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure bubbles are behind the content */
    pointer-events: none; /* Prevent bubbles from interfering with interactions */
    filter: drop-shadow(1px 1px 20px rgb(255, 255, 255));
}

/* Individual bubbles */
.bubble {
    position: absolute;
    bottom: -50px; /* Start from below the screen */
   background-color: white;
    border-radius: 50%;
    animation: float 6s infinite ease-in-out;
    filter: drop-shadow(1px 1px 20px rgb(190, 190, 190));
}


/* Keyframes for floating and moving bubbles */
@keyframes float {
    0% {
        transform: translateY(0) scale(0.6);
        opacity: 0.7;
    }
    50% {
        transform: translateY(-150vh) scale(1.2); /* Move up and grow */
        opacity: 1;
    }
    100% {
        transform: translateY(-300vh) scale(0.6);
        opacity: 0;
    }
}

/* slide bar     /     profile settings */


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  /* Core Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide {
    height: 100%;
    width: 280px;
    position: absolute;
    background-color: #218838;
    transition: 0.5s ease;
    left: 0.4px;
    top: -0.4px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform: translateX(-301px);
}

.t1 {
    text-align: right;
    font-size: 120%;
    padding: 20px 0;
    padding-right: 98px;
    color: #e7ece7;    
}

.slidelist {
    font-size: 80%;
    list-style: none;
}

.userimg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 20px auto 0;
}

ul li a {
    display: block;
    padding: 10px 0;
    padding-left: 30px;
    color: #e7ece7; 
}

.checkbox {
    display: none;
    visibility: hidden;
    position: absolute;
    left: 30px;
}

.toggle {
    position: absolute;
    height: 35px;
    width: 38px;
    background-color: rgb(40, 171, 28);
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
    left: 13px;
    top: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.toggle .common {
    position: absolute;
    height: 3px;
    width: 25px;
    /* background-color: #133d0f; */
    background-color: #e7ece7;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Checkbox styles renamed */
.checkbox:checked ~ .toggle {
    transform: translateX(220px);
    transition: transform 0.5s ease;
}

.checkbox:checked ~ .toggle .top_line {
    left: 2px;
    top: 17px;
    width: 35px;
    transform: rotate(45deg);
}

.checkbox:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 17px;
    width: 35px;
    transform: rotate(-45deg);
}

.checkbox:checked ~ .toggle .middle_line {
    transform: translateX(30px);
    opacity: 0;
}

.checkbox:checked ~ .slide {
    transform: translateX(-1px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#copyright {
    position: absolute; 
    bottom: 15px;
    justify-content: center; 
    color: white;
    font-size: 10px; 
    font-family: 'Press Start 2P', cursive; 
    z-index: -1;
}

/* Media Queries for Responsive Design*/

@media (max-width: 700px) {

    .container {
        width: 95%;
    }

}

@media (max-width: 600px) {

    .container {
        width: 95%;
    }

    .menu .menu-btn {
        width: 400px;
    }

    #copyright {
        font-size: 8px;
    }
   
}

@media (max-width: 500px) {

    .container {
        width: 95%;
    }

    .sm-header {
        display: inline-block;
    }

    .med-header {
        display: none;
    }

    .menu .menu-btn {
        width: 100%;   
        height: 60px; 
    }

    
}

@media (max-width: 400px) {

    .container {
        width: 95%;
    }

    .menu .menu-btn {
        font-size: 15px;
        width: 100%;   
        height: 50px; 
    }

    #copyright {
        font-size: 6px;
    }
   
}


